*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}
span{
    color:blue;
    font-size: 20px;
}

body{
    background: url(../assets/banner.jpg);
    background-position: center;
    background-size: cover;
}